<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <a class="nav-link" href="{% url 'index' %}">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-square-poll-vertical"></i></div>
                Dashboard
            </a>
            <a class="nav-link" href="{% url 'estudantes' %}">
                <div class="sb-nav-link-icon"><i class="fa-regular fa-address-card"></i></div>
                Estudantes
            </a>
            <a class="nav-link" href="{% url 'prontuario' %}">
                <div class="sb-nav-link-icon"><i class="fa-regular fa-pen-to-square"></i></div>
                Prontuário
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logado como:</div>
        <a>{{user.first_name}}</a>
    </div>
</nav>